html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    background: #0a0a1d;
    color: #fff;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
  }

  h2 {
    font-size: 2rem;
  }

  a {
    text-decoration: none;
  }
  
  .navbar {
    position: fixed;
    top: 20px;
    background-color: rgba(10, 10, 29, 0.9); 
    padding: 10px 30px;
    border-radius: 50px; 
    border: 1px solid #b0c4de;
    height: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    z-index: 1000;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
  }
  
  .nav-menu li a {
    text-decoration: none;
    color: #b0c4de;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .nav-menu li a:hover {
    color: #5e3dc2; 
  }  

  .home {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    min-height: 100vh;
    margin-top: -30px;
    padding-left: 50px;
    padding-right: 50px;
  }

  section {
    padding: 4rem 2rem;
    text-align: center;
  }
  
  .profile-pic {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5vw;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    text-align: left;
  }
  
  .intro h1 {
    font-size: 2.5rem;
    margin: 0;
  }
  
  .intro h2 {
    font-size: 1.5rem;
    color: #b0c4de;
  }

  .about {
    display: flex;
    width: 80vw;
    margin: 0 auto;
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .about p {
    font-size: 1.2rem;
    text-align: 
    justify; 
    margin-top: 0;
  }

  .pic-ctn {
    width: 100vw;
    height: 200px;
  }
  
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    position: relative;
    width: 100vw;
    height: 300px;
    margin-top: 30px;
  }
  
  .pic-ctn > img {
    position: absolute;
    top: 0;
    left: calc(50% - 300px);
    opacity: 0;
    animation: display 20s infinite;
    width: 600px;
    border-radius: 20px;
  }
  
  img:nth-child(2) {
    animation-delay: 4s;
  }
  img:nth-child(3) {
    animation-delay: 8s;
  }
  img:nth-child(4) {
    animation-delay: 12s;
  }
  img:nth-child(5) {
    animation-delay: 16s;
  }
  
  
  .resume-pdf {
    width: 70vw;
    height: 600px;
    border: 1px solid #ccc;
    margin-top: 1rem;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(10, 10, 29, 1); 
    color: #b0c4de; 
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #b0c4de;
    z-index: 1000;
  }
  
  .footer-content {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


.footer-content .left, .footer-content .right {
  display: flex;
  align-items: center;
}

.footer-content .left {
  padding-left: 20ox; 
}

.footer-content .right {
  padding-right: 20px; 
}

.footer-icons {
  display: flex;
  flex-direction: row;
}
  
  .footer-icons a {
    margin-left: 15px;
    text-decoration: none;
  }
  
  .footer-icons .icon {
    width: 24px;
    height: 24px;
    filter: none; 
  }  
  
  .projects {
    text-align: center;
    display: flex;
    width: 80vw;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .projects p {
    text-align: justify; 
    margin-top: 0; 
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .project-card {
    background-color: #1e123e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #b0c4de;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .project-card h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #fff;
  }
  
  .project-card p {
    font-size: 1rem;
  }
  
  .contact {
    padding: 4rem 2rem;
    text-align: center;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    background-color: #15152b;
    padding: 2rem;
    border-radius: 8px;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
    text-align: left;
    margin-right: 0rem;
  }
  
  .form-group label {
    font-size: 1.1rem;
    color: #b0c4de;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .form-group input, .form-group textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #b0c4de;
    border-radius: 6px;
    font-size: 1rem;
    color: #b0c4de;
    background-color: #32395d;
    transition: border-color 0.3s ease;
  }
  
  .form-group input:focus, .form-group textarea:focus {
    border-color: #5e3dc2;
    outline: none;
  }
  
  .form-group textarea {
    resize: vertical;
  }

input, textarea {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
}

input::placeholder, textarea::placeholder {
  font-family: 'Helvetica Neue', sans-serif;
  color: #81858b;  
}

textarea {
  height: 150px;
  resize: vertical;  
}

input:focus, textarea:focus {
  border-color: #5e3dc2;  
  outline: none;
}

  
  .submit-btn {
    background-color: #342169;
    color: #b0c4de;
    font-size: 1.1rem;
    padding: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #492e9b;
  }

.theme-toggle {
  position: fixed;
  top: 32px;
  right: 30px;
  cursor: pointer;
  z-index: 1001;
}

.theme-toggle img {
  width: 20;
  height: 20px;
  transition: transform 0.3s ease;
}

.theme-toggle img:hover {
  transform: scale(1.1); 
}

body.light-mode {
  background-color: #fff; 
  color: #333;
  
}

body.light-mode .navbar {
  background-color: rgba(255, 255, 255, 0.9);
  color: #b0c4de;  
  border: 1px solid #4b4b4b; 
  border-radius: 50px; 
  padding: 10px 30px; 
}

body.light-mode .nav-menu li a {
  color: #4b4b4b; 
}

body.light-mode .nav-menu li a:hover {
  color: #5e3dc2; 
}

body.light-mode .footer {
  background-color: #ffffff; 
  color: #333; 
  border-top: 1px solid #ccc; 
}

body.light-mode .intro h2 {
  color: #777;
}

body.light-mode .contact-form {
  background-color: #8888881a;
}

body.light-mode .form-group label {
  color: #333; 
}

body.light-mode .contact-form input,
body.light-mode .contact-form textarea {
  background-color: #fff; 
  border: 1px solid #ccc; 
}

body.light-mode .contact-form input::placeholder,
body.light-mode .contact-form textarea::placeholder {
  color: #777; 
}

body.light-mode .contact-form input,
body.light-mode .contact-form textarea {
  color: #333; 
}

body.light-mode .contact-form button {
  background-color: #4e4e4e; 
  color: white;
}

body.light-mode .submit-btn:hover {
  background-color: #000;
}

body.light-mode .project-card {
  background-color: #8888881a;  
  color: #333; 
}

body.light-mode .project-card h3 {
  color: #333; 
}

body.light-mode .project-card p {
  color: #555;  
}

body.light-mode .project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);  
}



.project-languages {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px; 
  margin-top: 10px; 
}

.tag {
  padding: 5px 15px;
  border-radius: 25px; 
  color: white;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-transform: capitalize;
  transition: border 0.3s ease;
}

.tag.html {
  background-color: rgb(193, 126, 0);
  border: 2px solid rgb(193, 126, 0);
}

.tag.css {
  background-color: rgb(170, 0, 0);
  border: 2px solid rgb(170, 0, 0);
}

.tag.javascript {
  background-color: rgb(69, 151, 69);
  border: 2px solid rgb(69, 151, 69);
}

.tag.python {
  background-color: yellow;
  color: black; 
  border: 2px solid yellow;
}

.tag.tableau {
  background-color: #31bebe;
  color: black;
  border: 2px solid #31bebe;
}

.tag.react {
  background-color: blue;
  color: white;
  border: 2px solid blue;
}

.tag.C {
  background-color: rgb(122, 193, 240);
  border: 2px solid rgb(122, 193, 240);
  color: white;
}

.tag.Processing {
	background-color: rgb(134, 52, 235);
	border: 2px solid rgb(134, 52, 235);
	color: white;
}

.tag:hover {
  border: 2px solid black;
}

.contact-card {
  background-color: #15152b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  width: fit-content;
  max-width: 300px;
  margin: 0 auto 30px auto;
}

.contact-card p {
  margin-bottom: .2rem;
}

.contact-card a {
  color: #5e3dc2;
}

.contact-card a:hover {
  color:  #fff;
}

body.light-mode .contact-card {
  background-color: #8888881a;
  color: #333; 
}

body.light-mode .contact-card a {
  color: #5e3dc2;
  transition: all 0.3s ease;
}

body.light-mode .contact-card a:hover{
  color: blue;
}

#giticon {
  width: 20px;
}

#linkicon {
  width: 20px;
}

#giticon-footer {
  width: 20px;
}

#linkicon-footer {
  width: 20px;
}

.home-contact {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

body.light-mode .home-contact a{
  background-color: #8888881a;
  color: #333;
  transition: all 0.3s ease;
}

body.light-mode .home-contact a:hover {
  background-color:  #4e4e4e;
  color: #fff;
}

.home-contact a {
  background-color: #15152b;
  padding: 10px 20px;
  border-radius: 8px;
  color:  #5e3dc2;
  transition: all 0.3s ease;
}

.home-contact a:hover {
  background-color: #5e3dc2;
  color: #fff;
}

/* Mobile Phones */
@media (max-width: 800px) {
  /* Navbar */
  .navbar {
    height: 20px;
  }
  
  .nav-menu {
    gap: 12px;
  }
  
  .nav-menu li a {
    font-size: 14px;
  }

  /* Home Section */

  .home {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0; 
    margin-top: -60px;
  }

  .profile-pic {
    width: 200px;
    height: 200px;
    margin-right: 0;
  }

  .intro {
    align-items:center;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  
  .intro h1 {
    font-size: 1.5rem;    
    margin-top: 20px;
  }
  
  .intro h2 {
    font-size: 1rem;
    margin-top: 10px;
  }

  .home-contact {
    justify-content: center;
    font-size: .8rem;
    margin-top: 10px;
  }

  /* About Image Carousel */
  .about p {
    font-size: 1rem;
  }

  .pic-ctn {
    /*position: relative;*/
    width: 100vw;
    height: 300px;
    margin-top: 30px;
  }
  
  .pic-ctn > img {
    /*position: absolute;*/
    top: 0;
    left: calc(50% - 150px);
    opacity: 0;
    animation: display 20s infinite;
    width: 300px;
    border-radius: 20px;
  }
  
  img:nth-child(2) {
    animation-delay: 4s;
  }
  img:nth-child(3) {
    animation-delay: 8s;
  }
  img:nth-child(4) {
    animation-delay: 12s;
  }
  img:nth-child(5) {
    animation-delay: 16s;
  }

  /* Projects Section */
  .projects {
    width: 80vw;
  }
  
  .projects-grid {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
  }

  .projects p {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.5rem; 
  }

  .project-card {
    height: fit-content;
  }

  .project-card h3 {
    font-size: 1.2rem;
  }
  
  .project-card p {
    font-size: 1rem;
  }

  
}

@media (max-width: 400px) {
  .theme-toggle {
    top: 80px;
  }
}
